<!DOCTYPE html>
<html>
  <head>
    <title>Catunes</title>
  </head>

  <body>
    <div class="jumbotron">
      <header class="container text-center">
        <h1>Catunes</h1>
      </header>
    </div>
    <div>
      <form>
      <div class="form-group">
        <label for="SongTitle">Song title</label>
        <input type="songtitle" class="form-control" id="SongTitle" placeholder="Enter song title">
      </div>
      <div class="form-group">
        <label for="Artist">Password</label>
        <input type="artist" class="form-control" id="Artist" placeholder="Enter artist">
      </div>
      <div class="form-group">
        <label for="URL">Password</label>
        <input type="url" class="form-control" id="URL" placeholder="Enter url">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>






  </body>






